<section class="animation">
    <app-animation></app-animation>
    <div class="scroll-forward">
        <div class="d-flex justify-content-center align-items-center" (click)="onNavigateToCurrent()">
            <span>Tovább az aktualitásokhoz</span>
            <span class="material-icons">arrow_downward</span>
        </div>
    </div>
</section>
<section class="current" #current>
    <article class="p-5" *ngFor="let news of news | async"
        [ngStyle]="{backgroundColor: news.backgroundColor}"
    >
        <div class="container news-container" [innerHTML]="news.body | safe: 'html'">

        </div>
    </article>
    <!-- <article class="p-5" [ngStyle]="{
        backgroundColor: 'var(--dark)'
    }">
        <div class="container" style="text-align: center;">
            <header>
                <h2 style="color: #ddd; margin-bottom: 24px">KÉSZÜL A “A KITÖRÉS” CÍMŰ KIÁLLÍTÁSUNK ANYAGA</h2>
            </header>
            <div class="row" style="min-height: 500px">
                <figure class="col-md-7 image-container">
                    <picture>
                        <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/current/drawing1-min.webp"
                            type="image/webp">
                        <img src="https://violart.s3.eu-central-1.amazonaws.com/images/current/drawing1-min.jpg"
                            alt="Aktuális foglalkozás">
                    </picture>
                </figure>
                <figure class="col-md-5 image-container">
                    <picture>
                        <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/current/drawing2-min.webp"
                            type="image/webp">

                        <img src="https://violart.s3.eu-central-1.amazonaws.com/images/current/drawing2-min.jpg"
                            alt="Aktuális foglalkozás">
                    </picture>
                </figure>
            </div>
        </div>
    </article>
    <article class="p-5" [ngStyle]="{
        backgroundColor: '#928d72'
    }">
        <div style="text-align: center;">
            <p style="margin: 24px 0; color: #ddd; font-size: 24px">műtermünk folyamatosan épül, szépül lassan el is
                készül...</p>
            <figure class="image-container">
                <picture>
                    <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/current/studio1-min.webp"
                        type="image/webp">
                    <img src="https://violart.s3.eu-central-1.amazonaws.com/images/current/studio1-min.jpg"
                        alt="Aktuális foglalkozás" style="max-height: 500px; max-width: 100%">
                </picture>
            </figure>
            <p style="margin: 24px 0; color: #ddd; font-size: 24px">megérkeztek a rajzbakok is...</p>
            <figure class="image-container">
                <picture>
                    <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/current/studio2-min.webp"
                        type="image/webp">
                    <img src="https://violart.s3.eu-central-1.amazonaws.com/images/current/studio2-min.jpg"
                        alt="Aktuális foglalkozás" style="max-height: 500px; max-width: 100%">
                </picture>
            </figure>
            <p style="margin: 24px 0; color: #ddd; font-size: 24px">tartottunk egy próbaórát lelkes tanítványokkal...
            </p>
            <figure class="image-container">
                <picture>
                    <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/current/studio3-min.webp"
                        type="image/webp">
                    <img src="https://violart.s3.eu-central-1.amazonaws.com/images/current/studio3-min.jpg"
                        alt="Aktuális foglalkozás" style="max-height: 500px; max-width: 100%">
                </picture>
            </figure>
        </div>
    </article> -->
</section>