<section>
    <div class="image-container background-container cover">
        <img src="/assets/images/bg1.jpg" class="background" alt="background" />
    </div>
    <div class="overlay">
        <article class="overlay">
            <header class="title">
                <h1>Mit tanulhatsz?</h1>
            </header>
            <p>különböző grafikai technikákat,
                szabadkézi rajzot kezdő szinttől ameddig bírod,
                csendélettől az aktig,
                segítek, hogy bekerülhess álmaid művészeti iskolájába...
                </p>
        </article>
    </div>
</section>
