<app-background 
    [imageUrls]="[
        'assets/images/bg1-min.jpg',
        'assets/images/bg2-min.jpg',
        'assets/images/bg3-min.jpg'
    ]">
</app-background>
<div class="main-container">
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12 pt-5">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-7 col-md-12">
                            <img src="/assets/images/about/viola.jpg" alt="Hegedűs Viola">
                            <header>Hegedűs Viola</header>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <p>
                        Budapesten a <strong>Moholy-Nagy Művészeti Egyetemen</strong>
                        végeztem, mint építész, belsőépítész, 
                        rövid időn belül kiderült, hogy számomra 
                        nem sokáig terem babér, mert a művészeti 
                        vágyamat és eziránti tehetségemet
                        e szakmák nem fogják teljes körűen 
                        kielégíteni. 
                        Szerettem volna, hogy adottságaimat és
                        tudásomat továbbadjam azoknak,
                        akik beleszerettek és szintén éreztek vágyat
                        arra, hogy a művészet felé forduljanak.
                        Ez inspirált arra, hogy elvégezzem 
                        a <strong>Képzőművészeti Egyetemen</strong>
                        a művész-tanár szakot. 
                        Közben tanítottam több évig magániskolában, 
                        a <strong>Számalk-Szalézi Szakgimnáziumban</strong>,
                        grafika, fotó, dekor szakon, és vezettem a 
                        lakberendező szakot.
                        Az időm nagy részét építész- belsőépítész 
                        munkákkal töltöttem.
                        Hivatásomnak tekintettem a tanítást, 
                        és vágyat éreztem arra, hogy saját 
                        magániskolámat megvalósítsam.
                    </p>
                    <div class="form-group">
                        <a href="https://www.saatchiart.com/account/artworks/1715738">
                            <button>Grafikai munkáim <span class="material-icons">arrow_forward</span></button>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12 pt-5">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-7 col-md-12">
                            <img src="/assets/images/about/istvan.jpg" alt="Tuba István">
                            <header>Tuba István</header>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <p>
                        Közel 30 éve dolgozom
                        a reklámszakmában, a Tuba Reklámstúdió tulajdonosa vagyok,
                        amely jelenleg is működik.
                        A három évtizedes tapasztalatommal szeretném
                        segíteni a Violart Stúdiót, ha fotózásra, 
                        annak tanítására, vagy kiadványok tervezésére
                        van szükség.
                        Nagy gyakorlattal rendelkezem kiállítások
                        tervezésében, kivitelezésében, egyedi 
                        display kiállítási anyagok, installációk
                        megtervezésében.                        
                    </p>
                    <nav class="form-group">
                        <a href="https://www.tubareklamstudio.hu">
                            <button>Tuba Reklámstúdió <span class="material-icons">arrow_forward</span></button>
                        </a>
                    </nav>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="absolute figure-container col-md-6 col-sm-12 pt-5">
                    <div class="row justify-content-end align-items-center">
                        <figure class="image-container col-xl-7 col-md-12 mb-4">
                            <img src="/assets/images/about/studio2.jpg" alt="Violart Stúdió belülről">
                        </figure>
                        <figure class="image-container col-xl-7 col-md-12 mb-4">
                            <img src="/assets/images/about/studio.jpg" alt="Violart Stúdió belülről">
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <p>
                        Műtermünk befogadóképessége 
                        9 hallgató plusz az oktatók.
                        Minden adottsága megvan arra, hogy
                        természetes és mesterséges fény mellett
                        dolgozhassunk.
                        Nyári időben egy fedett terasz, 
                        vagy egy füves kert természetes vagy épített
                        háttérként szolgálja 
                        művészi vágyaink kielégítését.
                        Műtermünk akár buszjárattal is megközelíthető,
                        a buszmegálló tőlünk 100 méterre található.
                        Minden olyan busz, ami Mátrafüred felől, vagy
                        Abasár felől közlekedik megáll itt is.
                        Parkolási lehetőség az udvarban 
                        és az utcán korlátlan. 
                    </p>
                    <div class="form-group">
                        <a routerLink="/education">
                            <button>Tovább az oktatáshoz <span class="material-icons">arrow_forward</span></button>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
