<div class="video-container background-container" *ngIf="isVideoPlayable">
    <video autoplay="autoplay" muted="muted" class="background" webkit-playsinline="true" playsinline="true"
        onloadedmetadata="this.muted = true" oncanplay="this.play()" (ended)="onVideoEnded()" #video>
        <source src="/assets/videos/intro_cropped.mp4">
    </video>
    <!-- <img src="/assets/images/bg1.jpg" class="background" alt="background" /> -->
</div>
<div class="cover-background cover image-container background-container" [ngClass]="{visible: !isVideoPlaying}">
    <img src="/assets/images/bg1.jpg" class="background" alt="background" (load)="onBackgroundLoaded()" />
</div>
<div class="cover-logo background-container" [ngClass]="{visible: !isVideoPlaying}">
    <figure class="logo-container image-container" [ngClass]="{visible: !isVideoPlaying}">
        <img src="/assets/images/logo_dark.png" class="background" alt="background" />
    </figure>
</div>
<article class="main-text" *ngIf="!isVideoPlaying">
    <header class="title">
        <h1>Mit tanulhatsz<span class="arial">?</span></h1>
    </header>
    <p>különböző grafikai technikákat,
        szabadkézi rajzot kezdő szinttől ameddig bírod,
        csendélettől az aktig,
        segítek, hogy bekerülhess álmaid művészeti iskolájába...
    </p>
</article>