<section class="main">
    <section class="container py-3">
        <h1>Kapcsolat</h1>
    </section>
    <section class="contacts py-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-auto">
                    <img class="icon" src="https://violart.s3.eu-central-1.amazonaws.com/images/icons/home.png" alt="Address" title="Cím">
                    <span>3261, Pálosvörösmart Hagyóka út 2/2.</span>
                </div>
                <div class="col-md-auto">
                    <img class="icon" src="https://violart.s3.eu-central-1.amazonaws.com/images/icons/address.png" alt="Email" title="Email cím">
                    <a href="mailto:info@violartstudio.com">info@violartstudio.com</a>
                </div>
                <div class="col-md-auto">
                    <img class="icon" src="https://violart.s3.eu-central-1.amazonaws.com/images/icons/phone.png" alt="Phone" title="Telefonszám">
                    <a href="tel:+36702670519">+36 70 267 0519</a>
                </div>
            </div>
        </div>
    </section>
    <section class="map container my-4">
        <iframe 
            title="ViolArt location"
            style="border:0" 
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXaQ4wzxZQEcRT3AKcrDtvfo&key=AIzaSyAaTFaR29D9JwIDM8z5JBGqU1nO2k5OKGk" 
            allowfullscreen></iframe>
    </section>
    <section class="container py-4">
        <h2>Írj nekünk üzenetet!</h2>
        <form ngForm class="mb-4" (submit)="sendMail()">
            <div class="row mb-4">
                <div class="col-md-6">
                    <input 
                        name="email"
                        type="text" 
                        class="text-field"
                        [(ngModel)]="sender"
                        placeholder="Feladó email címe">
                </div>
                <div class="col-md-6">
                    <input 
                        name="subject"
                        type="text" 
                        [(ngModel)]="subject"
                        class="text-field"
                        placeholder="Tárgy">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <textarea 
                        name="message" 
                        rows="3" 
                        class="text-field"
                        [(ngModel)]="body"
                        placeholder="Üzenet"
                    ></textarea>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <button type="submit" class="send-button w-100">
                        <span>Küldés</span>
                        <span class="material-icons">send</span>
                    </button>
                </div>
            </div>
        </form>
    </section>
</section>
<div class="popup-container container-fluid d-flex justify-content-center align-items-center" 
    @opacityAnimation
    *ngIf="success"
    (click)="hideMessage()"
    >
    <div class="popup col-xl-4 col-md-6" (click)="$event.stopPropagation()">
        <div class="row">
            <figure class="col-auto image-container">
                <div class="check">
                    <span class="material-icons">check</span>
                </div>
            </figure>
            <div class="col">
                <h2 style="margin: 0">Üzenet elküdve</h2>
            </div>
            <button style="width: 4rem" (click)="hideMessage()">Ok</button>
        </div>
    </div>
</div>