main {
    height: 100vh;
    overflow: hidden;
}

.background-container {
    height: 100vh;
    width: 100vw;
}

.logo-container {
    bottom: 0;
    position: absolute;
    height: 40vh;
    display: flex;
    align-items: center;
}

.logo {
    height: 7rem;
    width: 100vw;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.overlay>.title {
    display: flex;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay>.title>h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    font-weight: 300;
    line-height: 1;
}

.overlay>.title>h1:nth-child(2) {
    font-size: 6em;
}

.overlay>.title>h1:nth-child(3) {
    font-size: 7em;
}

@media screen and (max-width: 700px) {
    .overlay>.title {
        font-size: 8px;
    }
}