<div class="main-container py-5">
    <div class="container">
        <div class="row">
            <section class="col-md-4 my-2">
                <header>
                    <h2>Navigáció</h2>
                </header>
                <nav class="d-flex flex-column">
                    <a class="nav-item" routerLink="/">Aktuális</a>
                    <a class="nav-item" routerLink="/education">Oktatás</a>
                    <a class="nav-item" routerLink="/gallery">Galéria</a>
                    <a class="nav-item" routerLink="/about">Rólunk</a>
                    <a class="nav-item" routerLink="/contacts">Kapcsolat</a>
                </nav>
            </section>
            <section class="col-md-4 my-2">
                <header>
                    <h2>Kapcsolat</h2>
                </header>
                <div class="contact-item">
                    <i class="fa fa-facebook-square"></i>
                    <a href="https://www.facebook.com/hegedusviolaanna">facebook.com/hegedusviolaanna</a>
                </div>
                <div class="contact-item">
                    <span class="material-icons">home</span>
                    <span>3261, Pálosvörösmart Hagyóka út 2/2.</span>
                </div>
                <div class="contact-item">
                    <span class="material-icons">email</span>
                    <a href="mailto:info@violartstudio.com">info@violartstudio.com</a>
                </div>
                <div class="contact-item">
                    <span class="material-icons">phone</span>
                    <a href="tel:+36702670519">+36 70 267 0519</a>
                </div>
            </section>
            <div class="col-md-4 d-flex align-items-end justify-content-end">
                <a routerLink="/">
                    <figure class="logo image-container">
                        <img src="/assets/images/logo_light.png" alt="">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>