<app-background [imageUrls]="[
        'assets/images/bg1-min.jpg',
        'assets/images/bg4-min.jpg',
        'assets/images/bg2-min.jpg',
        'assets/images/bg3-min.jpg',
        'assets/images/bg2-min.jpg',
        'assets/images/bg5-min.jpg'
    ]">
</app-background>
<div class="main-container">
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12 py-5">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-8 col-md-12">
                            <picture>
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/stock.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/stock.jpeg"
                                    alt="Tehetségfelmérés">
                            </picture>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <header>
                        <h2 class="mb-3">Tehetségfelmérés</h2>
                    </header>
                    <p>
                        Egy rövid beszélgetés arról, hogy milyen mélységig akar eljutni
a művészetnek ebben az ágában, majd közösen elemezzük a hozott anyagokat.
Ezt követően az oktatás képzett művészoktatók részvételével zajlik. 
Eljuthatunk a kockológiától a csendéleten át modellek részvételével akár az emberábrázolásig is.

                    </p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-6 col-md-10">
                            <picture id="drawing" style="transform: scaleX(-1);">
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/drawing.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/drawing.JPG"
                                    alt="Grafika">
                            </picture>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <h2 class="mb-5">Kurzusaink</h2>
                    <h3 class="mb-5">Szabadkézi rajz</h3>
                    <h4 class="mb-3">Rajzoktatás kezdő szint</h4>
                    <p>
                        Rajzeszközöket hoznia kell, és mi megtanítjuk
                        a komponálás, aránymérés alapjait
                    </p>
                    <h4 class="mb-3">Rajzoktatás haladó szint</h4>
                    <p>
                        Tárgyegyüttesek, drapéria, összetettebb csendélet
                        porté rajzolása, szabadon választott technikával
                        pl.: pasztel, pitt, grafit, szén
                    </p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12">
                    <div class="row justify-content-end">
                        <figure class="image-container cover col-xl-8 col-md-12 py-4" id="working">
                            <picture>
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/working.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/working.jpg"
                                    alt="Munka">
                            </picture>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <h2 class="mb-4">Grafikai technikák</h2>
                    <h3>Pasztell, szén, tus, toll, stb.</h3>
                    <p>
                        Évtizedes tapasztalataink alapján látjuk, hogy a grafikusi pályára készülőknek, 
                        felvételi esélyük nőhet, ha hosszabb kurzust választanak
                    </p>
                    <h3 class="mt-4 mb-3">Alkalmazott grafikai feladatok</h3>
                    <p>
                        Stúdiónk oktatása kézi rajzzal való kifejezésre összpontosít, így kreatív alapot ad logók, 
                        szóróanyagok, plakátok, csomagolóanyagok, arculati tervek, későbbi számítógépes feldolgozásához 
                        vagy akár nyomdai előkészítéséhez
                    </p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12 py-5">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-8 col-md-12">
                            <picture>
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/interieur_design.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/interieur_design.jpg"
                                    alt="Belsőépítészet munka">
                            </picture>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <h2 class="mb-4">Előkészítő</h2>
                    <h3 class="mb-4">főiskolára, egyetemre készülők számára</h3>

                    <h4>Rajzi előkészítő</h4>
                    <p class="mb-4">
                        A pontosabb emberi ábrázolás érdekében mélyebben foglalkozunk az anatómiával, legyen az porté, akt vagy torzó
                    </p>
                    <h4>Portfolió összeállítás</h4>
                    <p>
                        Grafika, fotó, media, belsőépítész - építész 
                        látványtervező szakokra. 
                        Segítséget nyújtunk a felvételihez szükséges szakmai portfolio összeállításában
                    </p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="absolute figure-container col-md-6 col-sm-12 pt-5">
                    <div class="row justify-content-center align-items-end flex-column">
                        <figure class="image-container col-xl-6 col-md-8 mb-4">
                            <picture>
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/stock_bedroom2.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/stock_bedroom2.jpg"
                                    alt="Lakberendező">
                            </picture>
                        </figure>
                        <figure class="image-container col-xl-6 col-md-8 mb-4">
                            <picture>
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/stock_bedroom1.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/stock_bedroom1.jpg"
                                    alt="Lakberendező">
                            </picture>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <h3 class="mb-4">Lakberendező</h3>
                    <p>
                        Azoknak, akik kedvet éreznek ehhez a szakmához,
                        térlátást fejlesztő, grafikai, műszaki rajzi
                        és térábrázolási feladatokkal segítjük,
                        hogy mihamarabb elérje azt a színvonalat,
                        amivel már akár megbízást is vállalhat
                    </p>

                    <h4>Számítógépes feladatok</h4>
                    <p>
                        A kézi alkotásaink digitalizálásra kerülhetnek
                        Photoshop alkalmazásával, amik térábrázolás,
                        látványtervezés,tértervezés, színek és formák a térben
                        anyagok, színek alkalmazása a lakásban.
                        Eljuthatunk a fotorealisztikus látványterv készítésig is,
                        de ez egy hosszabb folyamat része.
                    </p>

                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12 py-5">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-7 col-md-12">
                            <picture>
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/photoshop1.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/photoshop1.jpg"
                                    alt="Photoshop">
                            </picture>
                        </figure>
                    </div>
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-7 col-md-12">
                            <picture>
                                <source srcset="https://violart.s3.eu-central-1.amazonaws.com/images/education/photoshop2.webp"
                                    type="image/webp">
                                <img src="https://violart.s3.eu-central-1.amazonaws.com/images/education/photoshop2.jpg"
                                    alt="Photoshop">
                            </picture>
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <h2 class="mb-3">Photoshop alapoktatás</h2>
                    <p class="mb-4">
                        Mivel a program lehetőségei határtalanok, irányelvekkel segítjük az elindulásban, bár néha ezek is látványosak
                    </p>
                    <h4>Ismerkedés a program adta lehetőségekkel</h4>
                    <p>
                        A program felülete, ikonok, menüsor
                        egyszerűbb feladatok pl. kijelölés lehetőségei
                    </p>
                    <p>
                        térábrázolás, látványtervezés Photoshopban
                        fotómontázsok készítése, anyagok, színek alkalmazása
                        fotók retusálása
                    </p>


                </div>
            </div>
        </article>
    </section>
</div>