<app-background 
    [imageUrls]="[
        'assets/images/bg1.jpg',
        'assets/images/bg2.jpg',
        'assets/images/bg3.jpg',
        'assets/images/bg4.jpg',
        'assets/images/bg5.jpg',
        'assets/images/bg2.jpg'
    ]">
</app-background>
<div class="main-container">
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12 py-5">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-8 col-md-12">
                            <img src="/assets/images/education/stock.jpeg" alt="">
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <h2>Bemutatkozás</h2>
                    <p class="mb-5">
                        Az oktatás képzett művészoktatók részvételével
                        zajlik, kezdő szinteknek megfelelően. 
                        Eljutunk a kockológiától az emberábrázolásig,
                        modell utáni rajzolással
                    </p>
                    <h3>Tehetségfelmérés</h3>
                    <p>
                        Egy rövid beszélgetés a jelentkezőkkel arról,
                        hogy milyen mélységben akar eljutni
                        a művészetnek ebben az ágában,
                        megnézzük és közösen elemezzük hozott anyagait
                    </p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="text-container col-md-6 col-sm-12 py-0">
                    <h2>Kurzusaink</h2>
                </div>
            </div>
        </div>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="figure-container col-md-6 col-sm-12">
                    <div class="row justify-content-end">
                        <figure class="image-container col-xl-8 col-md-12">
                            <img id="drawing" src="/assets/images/education/drawing.JPG" alt="">
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <p>
                        Közel 30 éve dolgozom
                        a reklámszakmában, tulajdonosa
                        vagyok a Tuba Reklámstúdiónak, 
                        amely jelenleg is működik.
                        A három évtizedes tapasztalatommal szeretném
                        segíteni a Violart Stúdiót, ha fotózásra, 
                        annak tanítására, vagy kiadványok tervezésére
                        van szükség.
                        Nagy gyakorlattal rendelkezem kiállítások
                        tervezésében, kivitelezésében, egyedi 
                        display kiállítási anyagok, installációk
                        megtervezésében.                        
                    </p>
                    <nav class="form-group">
                        <a href="https://www.tubareklamstudio.hu">
                            <button>Tuba Reklámstúdió <span class="material-icons">arrow_forward</span></button>
                        </a>
                    </nav>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="content-lane container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="absolute figure-container col-md-6 col-sm-12 pt-5">
                    <div class="row justify-content-end align-items-center">
                        <figure class="image-container col-xl-8 col-md-12">
                            <img src="/assets/images/studio.jpg" alt="">
                        </figure>
                        <figure class="image-container col-xl-8 col-md-12">
                            <img src="/assets/images/studio.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <div class="text-container col-md-6 col-sm-12">
                    <p>
                        Műtermünk befogadóképessége 
                        9 hallgató plusz az oktatók.
                        Minden adottsága megvan arra, hogy
                        természetes és mesterséges fény mellett
                        dolgozhassunk.
                        Nyári időben egy fedett terasz, 
                        vagy egy füves kert természetes vagy épített
                        háttérként szolgálja 
                        művészi vágyaink kielégítését.
                        Műtermünk akár buszjárattal is megközelíthető,
                        a buszmegálló tőlünk 100 méterre található.
                        Minden olyan busz, ami Mátrafüred felől, vagy
                        Abasár felől közlekedik megáll itt is.
                        Parkolási lehetőség az udvarban 
                        és az utcán korlátlan. 
                    </p>
                    <div class="form-group">
                        <button>Tovább az oktatáshoz <span class="material-icons">arrow_forward</span></button>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
