.main-container {
    padding-top: var(--header-height);
    background-image: url(https://violart.s3.eu-central-1.amazonaws.com/images/bg1-min.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

