* { outline: 0!important; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  transition: transform ease-in-out .12s;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.collapsed .material-icons {
  transform: rotate(180deg);
}

html {
  font-size: 16px;
}

*, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: inherit;
}

:root {
  --blue: #004bd6;
  --orange: #D68900;
  --orange-dark: #cc7100;
  --white: #f8fafb;
  --red: rgb(190, 50, 50);
  --shadow: 2px 2px 14px -3px #0007;
  --header-height: 3rem;
  --transition: all ease-in-out .2s;
  --gray: #0004;
  --light: #0002;
  --dark: #1f1509;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  font-weight: 300;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
}

.image-container:not(.cover) > img, .image-container:not(.cover) > svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.image-container.cover > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 900px){
  html{
      font-size: 15px;
  }
}

@media screen and (max-width: 500px){
  html{
      font-size: 13px;
  }
}